<html>
    <%-include('../header')%>
    <body>
        <form action="/user/insert" method="POST">
        이메일 = <input type="email" name ="email"><br>
        비밀번호 = <input type="password" name="password"><br>
        학번 = <input type="text" name="number" maxlength="8"><br>
        이름 = <input type="text" name="name"><br>
        핸드폰 = <input type="text" name="phone1" maxlength="3" style="width:30px;">
        - <input type="text" name="phone2" maxlength="4" style="width:40px;">
        - <input type="text" name="phone3" maxlength="4" style="width:40px;"><br>
        
        <input type="submit" value="Submit">
        </form>
    </body>
    <%-include('../footer')%>
</html>