<html>
    <%-include('../header')%>
    <body>
        <a href="/">메인으로</a>
        <a href="/user/insert">계정생성</a>
        <form method="POST" action="/user">
            id : <input type="text" name="id"><br>
            pwd : <input type="password" name="pwd"><br>
            <input type="submit" value="Login">
        </form>
    </body>
    <%-include('../footer')%>
</html>