<html>
    <%-include('../header')%>
    <body>
        <a href="/">메인으로</a>
        <form method="POST" action="/user">
            email : <input type="text" name="email"><br>
            pwd : <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </body>
    <%-include('../footer')%>
</html>